@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html {
	background-color: #6c757d;
}

/*? App START */

.app {
	height: 100%;
	width: 100%;
}

.app-body {
	margin-top: 5%;
	height: 100%;
}
/*! App END */

/*? pages START */

.pages {
	/* display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0; */
	height: 100%;
}

/*! pages END */

/*? Footer START */

.footer {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0;
	padding: 0.9rem 3rem 0.12rem 1rem;
	text-align: end;
	background-color: #333;
	color: white;
	width: 100%;
	max-width: 100%;
	left: 0;
	/* height: 100%; */
}

/*! Footer END */

/* ? Navbar START */

nav {
	font-family: "Silkscreen";
	overflow: hidden;
}
nav .weCode {
	font: bold 36px "Silkscreen";
	color: #820000;
	/* text-str/oke: 1.5px #000000; */
	-webkit-text-stroke: 3px #000000;
}

nav .weCode:hover {
	color: #820000;
	-webkit-text-stroke: 1.5px #c0c0c0;
}

.search-btn {
	color: #820000;
	font-size: 27px;
	-webkit-text-stroke: 1px #000000;
}

nav .search-btn:hover {
	color: #c0c0c0;
	-webkit-text-stroke: 1px #820000;
}

.user-navbar {
	display: flex;
}

.user-navbar p {
	margin-top: 3%;
	color: #820000;
	-webkit-text-stroke: 0.3px #c0c0c0;
}

.dropdown .dropbtn {
	background-color: #c0c0c0;
	border: 2px groove grey;
	border-radius: 5px;
	color: #820000;
}
.dropdown:hover .dropbtn {
	background-color: #820000;
	border: groove;
	color: #c0c0c0;
}
.dropdown {
	float: right;
	overflow: hidden;
}
.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: #820000;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* ! Navbar END */

/*? Home START */
.home img {
	border: 3px groove #770000;
	/* max-height: fit-content; */
}

.home .card {
	border: 3px groove #280000;
	/* max-height: fit-content; */
}

.home ul {
	border: 3px groove #525252;
	/* max-height: fit-content; */
}
/*! Home END */

/*? SideBar Start*/
.sidebar {
	height: 100%;
	width: 100%;
	flex-shrink: 0;
	background-color: #3c3c3c;
	overflow: hidden;
	width: 69px;
	border-right: 1px solid var(--light-gray);
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding-top: 1rem;
	align-items: center;
	justify-content: stretch;
	transition: width var(--animation-duration) var(--animation-timing-curve);
	position: sticky;
	left: 0;
	top: var(--header-height);
}

.sidebar ::-webkit-scrollbar {
	/* box-shadow: inset 0 0 5px silver; */
	width: 1rem;
	border-radius: 10px;
}

.sidebar ::-webkit-scrollbar-thumb {
	background: #820000;
	border-radius: 10px;
}

.sidebar ::-webkit-scrollbar-thumb:hover {
	background: #820000;
	/* width: 1rem; */
	border-radius: 10px;
}

.sidebar .hidden-sidebar {
	opacity: 0;
	width: 0;
	transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
	width: 100%;
	height: auto;
	opacity: 1;
}

.sidebar .top-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.channel-symbol {
	font-size: 33px;
	/* width: 100%; */
	color: #820000;
	-webkit-text-stroke: 1px #000000;
}

.channel-symbol:hover {
	color: #c0c0c0;
	-webkit-text-stroke: 1px #820000;
}

.sidebar .channel-logo {
	display: block;
	width: 30px;
	height: 30px;
	transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
	width: 90px;
	height: 90px;
	margin-top: 1rem;
	text-align: center;
}

.middle-sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
	width: 100%;
	padding: 0.5rem 5rem 0.5rem 0;
}

.sidebar-list {
	margin: 0;
	padding: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

.sidebar.open .sidebar-link {
	justify-content: flex-start;
}

.sidebar-icon {
	width: 25px;
	height: 25px;
	flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
	margin-left: 1.5rem;
	white-space: nowrap;
}

.sidebar-list .sidebar-link:hover,
.sidebar-list .hidden-sidebar:hover {
	color: #820000;
	font-weight: bold;
}

.sidebar-link {
	display: flex;
	width: 100%;
	padding: 0.5rem 0;
	color: var(--light-gray);
	text-decoration: none;
	align-items: center;
	padding-left: 25px;
}

.sidebar-list-item {
	position: relative;
	width: 100%;
	fill: var(--light-gray);
}

.sidebar-list-item.active {
	fill: var(--accent-color);
	background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
	background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
	content: "";
	background-color: var(--accent-color);
	height: 100%;
	left: 0;
	width: 3px;
	position: absolute;
}

.sidebar.open {
	width: 200px;
	padding: 0;
}

.your-channel {
	color: var(--dark-gray);
	font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
}

.channel-name {
	color: #ffffff;
	font-size: 0.75rem;
	font-weight: bold;
}

.sidebar .top-sidebar {
	height: 30px;
	transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
	height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
	text-align: center;
	width: 100%;
}

/*? google fonts */

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "weight" 500, "GRAD" 0, "opsz" 20;
}

/*? quote-card*/
.quote-card {
	font-family: "EB Garamond";
}
